/* ApercuPro */
@font-face {
  font-family: "ApercuPro";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/Apercu-Pro-Bold.woff") format("woff");
}

@font-face {
  font-family: "ApercuPro";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Apercu-Pro-Regular.woff") format("woff");
}

/* Arkhip */
//
@font-face {
  font-family: "Arkhip";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Arkhip-Regular.woff") format("woff");
}
