/* AxeHandel */

@font-face {
  font-family: "AxeHandel";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AxeHandel.woff") format("woff");
}

/* AveriaLibre */

@font-face {
  font-family: "AveriaLibre";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AveriaLibre-Regular.woff") format("woff");
}

@font-face {
  font-family: "AveriaLibre";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/AveriaLibre-Light.woff") format("woff");
}

