.didactiel {
  position: absolute;
  height: 66px;
  background: url('../../assets/img/svg/didacticiel-bg.svg') no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  &.scroll {
    left: 50%;
    transform: translateX(-50%);
    bottom: 89px;
    width: 297px;
  }
  &.collection {
    bottom: 90px;
    width: 318px;
  }
  &.radar {
    right: 0;
    bottom: 165px;
    width: 317px;
  }
  p {
    text-transform: uppercase;
    font-family: AxeHandel;
    font-size: 16px;
    color: #e4e4e5;
  }

  img {
    margin-left: 10px;
    width: 34px;
    height: 37px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease-out;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
