@import '../../assets/scss/index';

.cinematicObject {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-image: radial-gradient(circle at 0 0, rgba(192, 193, 212, 0.77), rgba(63, 64, 95, 0.83));

  a{
    text-decoration: none;
  }
  .main {
    max-width: 55vw;
    left: 30%;
    transform: translateX(-30%);
    top: -40px;
    position: relative;
    text-align: left;
    .close-btn {
      opacity: 1;
      cursor: pointer;
      padding: 10px 0;
      img{
        width: 45px;
        height: 45px;
      }
    }
    .title {
      font-size: 55px;
      font-family: AxeHandel, sans-serif;
      color: #f3f3f3;
      max-width: 40vw;
      position: relative;
    }
    .yellow-btn {
      p {
        font-family: AxeHandel;
        font-size: 28px;
        text-align: left;
        padding: 8px 0px;
        margin: 5px 0;
      }
      a {
        text-decoration: none;
        color: #f4cb5c;
        transition: color 0.3s ease-in;
        border-bottom: 4px solid #f4cb5c;
        &:hover {
          color: #ffd361;
        }
      }
    }
  }
}


